body {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	overflow-y: hidden;
}
#banner {
    display: block;
    margin-left: 20%;
	margin-top: 10%;
}
.secondvideo {
margin: 5% 0% 0% 35%;
}
.video {
margin: 5% 0% 0% 35%;
}
.button {
background-color: #4b008b;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 0% 0% 0% 25%;
cursor: pointer;
z-index:90099999;
overflow:hidden;
position:fixed;
}
.button :hover {
opacity: 0.25;
-webkit-transform: translateY(2px);
-moz-transform: translateY(2px);
transform: translateY(2px);
}
.button :link{
    color: white;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
.button :visited{
	color: white;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
.button :active{
	color: white;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
.button :hover{
	color: white;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}

#top
{
	z-index: 4;
	overflow:hidden;
	position:fixed;
	float:top;
	width: 100%;
	padding: 50px;
	background-color: #4b008b;
	margin-top: -50px;
	margin-bottom: 0%;
}
header { position:relative;
}
header img {
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	transform: translateY(2px);
	z-index:99999999;
	position: fixed;
	margin: 0% 0% 0% 45%;
	width: 10%;
	min-width:100px;
}
div {}
body div {}
	.Searchbut {
	z-index: 50;
	display: inline-block;
	position: fixed;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 0.3%;
	margin-right: 0%;
	margin-left: 70%;
	margin-bottom: 0%;
	padding: 10px 20px 10px 10px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	border-radius: 3px solid #b7b7b7;
	font: normal 16px/normal "abel", Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*middle image*/
#middleimage
{
	position: absolute;
	display: block;
	margin: 7% 0% 0% 41%;
	width: 100%;
	z-index: 3;
	float:left;
}

/*left image*/
#leftimage
{
	position: absolute;
	display: block;
	margin: 7% 0% 0% 15%;
	width: 400px;
	left: auto;
	overflow-y: hidden;
}
/*right image*/
#rightimage
{
	position: absolute;
	display: block;
	margin: 7% 0% 0% 67%;
	width: 400px;
	right: auto;
}
/*top*/
#topmiddle
{
position:absolute;
display:block;
margin: 25% 0% 0% 42.5%;
width:100%;
border:0;
text-decoration:none;
	}
#topleft
	{
position:absolute;
display:block;
margin: 25% 0% 0% 20%;
width:100%;
border:0;
text-decoration:none;
	}
	#topright
	{
position:absolute;
display:block;
margin: 25% 0% 0% 65%;
width:100%;
border:0;
text-decoration:none;
	}
	/*bottom*/
#bottommiddle
{
position:absolute;
display:block;
margin: 40% 0% 0% 42.5%;
width:100%;
border:0;
text-decoration:none;
max-width: 360px;
	}
#bottomleft
	{
position:absolute;
display:block;
margin: 40% 0% 0% 20%;
width:100%;
border:0;
text-decoration:none;
	}
#bottomright
	{
position:absolute;
display:block;
margin: 40% 0% 0% 65%;
width:100%;
border:0;
text-decoration:none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
a:active {
	color: black;
    background-color: transparent;
    text-decoration: none;
	font: normal 16px/1 "abel", Helvetica, sans-serif;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
#audio {
	position: fixed;
	display: block;
	margin-top: 0.3%;
	margin-right: 0%;
	margin-left: 82%;
	margin-bottom: 0%;
	width: 100%;
	border: 0;
	text-decoration: none;
	z-index:100
	}
#aboutimage {
	position:absolute;
	display:block;
	margin: 10% 0% 0% 41.5%;
	width:100%;
	border:0;
	text-decoration:none;
    }
@media screen and (max-width: 1420px) {
.video {
margin: 5% 0% 0% 305%;
}
.button {
background-color: #4b008b;
border: none;
color: white;
padding: 1.5% 100px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: -2.2% 0% 0% 20%;
cursor: pointer;
z-index:90099999;
overflow:hidden;
position:fixed;
float:top;
}
header { position:relative;
}
header img {
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	transform: translateY(2px);
	position: fixed;
	margin: 0% 0% 0% 45%;
	width: 11%;
	min-width:100px;
	z-index:99999999;
}
	.Searchbut {
	z-index: 50;
	display: inline-block;
	position: fixed;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px 10px 10px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "abel", Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
#banner {
    display: block;
    margin-left: 5%;
	margin-top: 10%;
}
/*left image*/
#leftimage
{
	position: absolute;
	margin: 15% 0% 0% 10%;
	overflow-y: hidden;
    max-width: 70%;
    height: auto;
	min-width:360px;
}
/*middle image*/
#middleimage
{
	position: absolute;
	margin: 15% 0% 0% 38%;
	overflow-y: hidden;
    max-width: 70%;
    height: auto;
}
/*right image*/
#rightimage
{
	position: absolute;
	margin: 15% 0% 0% 66%;
	overflow-y: hidden;
    max-width: 70%;
    height: auto;
}
/*top*/
#topleft
	{
position:absolute;
display:block;
margin: 28% 0% 0% 15%;
width:100%;
border:0;
text-decoration:none;
	}
#topmiddle
{
position:absolute;
display:block;
margin: 28% 0% 0% 40%;
width:100%;
border:0;
text-decoration:none;
	}
#topright
	{
position:absolute;
display:block;
margin: 28% 0% 0% 65%;
width:100%;
border:0;
text-decoration:none;
	}
	/*bottom*/
#bottomleft
	{
position:absolute;
display:block;
margin: 45% 0% 0% 15%;
width:100%;
border:0;
text-decoration:none;
	}
#bottommiddle
{
position:absolute;
display:block;
margin: 45% 0% 0% 40%;
width:100%;
border:0;
text-decoration:none;
	}
#bottomright
	{
position:absolute;
display:block;
margin: 45% 0% 0% 65%;
width:100%;
border:0;
text-decoration:none;
}
#audio {
	position: fixed;
	display: block;
	margin-top: 9%;
	margin-right: 0%;
	margin-left: 38%;
	margin-bottom: 0%;
	width: 50px;
	border: 0;
	text-decoration: none;
	z-index:100
	}
}
@media screen and (max-width: 1288px) {
#banner {
    display: block;
    margin-left: 115%;
	margin-top: 10%;
	max-width:70%;
}
/*left image*/
#leftimage
{
	margin: 15% 0% 0% 6%;
}
/*middle image*/
#middleimage
{
	margin: 15% 0% 0% 38%;
}
/*right image*/
#rightimage
{
	margin: 15% 0% 0% 70%;
}
/*top*/
#topleft
	{
margin: 32% 0% 0% 10%;
	}
#topmiddle
{
margin: 32% 0% 0% 40%;
	}
#topright
	{
margin: 32% 0% 0% 70%;
	}
	/*bottom*/
#bottomleft
	{
margin: 50% 0% 0% 10%;
	}
#bottommiddle
{
margin: 50% 0% 0% 40%;
	}
#bottomright
	{
margin: 50% 0% 0% 70%;
}
}
@media screen and (max-width: 1240px) {
/*left image*/
#leftimage
{
	margin: 15% 0% 0% 2%;
}
/*middle image*/
#middleimage
{
	margin: 15% 0% 0% 35.5%;
}
/*right image*/
#rightimage
{
	margin: 15% 0% 0% 69%;
}
/*top*/
#topleft
	{
margin: 32% 0% 0% 5%;
	}
#topmiddle
{
margin: 32% 0% 0% 37.5%;
	}
#topright
	{
margin: 32% 0% 0% 70%;
	}
	/*bottom*/
#bottomleft
	{
margin: 54% 0% 0% 5%;
	}
#bottommiddle
{
margin: 54% 0% 0% 37.5%;
	}
#bottomright
	{
margin: 54% 0% 0% 70%;
}
}
@media screen and (max-width: 1090px) {
.button {
padding:1.4px;
margin: -2.2% 0% 0% 10%;
}
/*left image*/
#leftimage {
	margin: 20% 0% 0% 5%;
}
/*middle POOF*/
#middleimage
{
	margin: 20% 0% 0% 1135.5%;
}
/*right image*/
#rightimage
{
	margin: 20% 0% 0% 60%;
}
/*top left*/
#topleft
	{
margin: 42% 0% 0% 15%;
	}
/*top right*/
#topmiddle
{
margin: 42% 0% 0% 58%;
	}
/*middle left*/
#topright
	{
margin: 70% 0% 0% 15%;
	}
	/*middle right*/
#bottomleft
	{
margin: 70% 0% 0% 58%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 96% 0% 0% 15%;
	}
	/*bottom right*/
#bottomright
	{
margin: 96% 0% 0% 58%;
}
#audio {
position: absolute;
margin-left: 37%;
margin-top:15%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 41.8%;
margin-top:10%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;

}
}
@media screen and (max-width: 950px) {
/*left image*/
#leftimage
{
	margin: 20% 0% 0% 8%;
}
/*right image*/
#rightimage
{
	margin: 20% 0% 0% 52%;
}
/*top left*/
#topleft
	{
margin: 42% 0% 0% 15%;
	}
/*top right*/
#topmiddle
{
margin: 42% 0% 0% 58%;
	}
/*middle left*/
#topright
	{
margin: 70% 0% 0% 15%;
	}
	/*middle right*/
#bottomleft
	{
margin: 70% 0% 0% 58%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 98% 0% 0% 15%;
	}
	/*bottom right*/
#bottomright
	{
margin: 98% 0% 0% 58%;
}
#audio {
position: absolute;
margin-left: 37%;
margin-top:15%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 41.8%;
margin-top:10%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;

}
}
@media screen and (max-width: 850px) {
/*left image*/
#leftimage
{
margin: 20% 0% 0% 32%;
}
/*right image POOF*/
#rightimage
{
margin: 20% 0% 0% 552%;
}
/*top left*/
#topleft
	{
margin: 52% 0% 0% 5%;
	}
/*top right*/
#topmiddle
{
margin: 52% 0% 0% 55%;
	}
/*middle left*/
#topright
	{
margin: 80% 0% 0% 5%;
	}
	/*middle right*/
#bottomleft
	{
margin: 80% 0% 0% 55%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 108% 0% 0% 5%;
	}
	/*bottom right*/
#bottomright
	{
margin: 108% 0% 0% 55%;
}
#audio {
position: absolute;
margin-left: 35%;
margin-top:15%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 40%;
margin-top:12%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;
}
}
@media screen and (max-width: 800px) {
/*left image*/
#leftimage
{
margin: 25% 0% 0% 32%;
}
/*right image POOF*/
#rightimage
{
margin: 20% 0% 0% 552%;
}
/*top left*/
#topleft
	{
margin: 52% 0% 0% 5%;
	}
/*top right*/
#topmiddle
{
margin: 52% 0% 0% 55%;
	}
/*middle left*/
#topright
	{
margin: 85% 0% 0% 5%;
	}
	/*middle right*/
#bottomleft
	{
margin: 85% 0% 0% 55%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 118% 0% 0% 5%;
	}
	/*bottom right*/
#bottomright
	{
margin: 118% 0% 0% 55%;
}
#audio {
position: absolute;
margin-left: 35%;
margin-top:17%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 40%;
margin-top:14%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;
}
}
@media screen and (max-width: 730px) {
.button {
margin: 4% 0% 0% 25%;
}
/*left image*/
#leftimage
{
margin: 25% 0% 0% 32%;
}
/*top left*/
#topleft
	{
margin: 152% 0% 0% 35%;
	}
/*top right*/
#topmiddle
{
margin: 52% 0% 0% 35%;
	}
/*middle left*/
#topright
	{
margin: 185% 0% 0% 35%;
	}
	/*middle right*/
#bottomleft
	{
margin: 85% 0% 0% 35%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 118% 0% 0% 35%;
	}
	/*bottom right*/
#bottomright
	{
position:absolute;
margin: 218% 0% 0% 35%;
}
#audio {
position: absolute;
margin-left: 35%;
margin-top:17%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 40%;
margin-top:14%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 35.5%;
}
}
@media screen and (max-width: 680px) {
.button {
margin: 4% 0% 0% 15%;
}
/*left image*/
#leftimage
{
margin: 35% 0% 0% 15%;
}
/*top right*/
#topmiddle
{
margin: 90% 0% 0% 20%;
}
/*middle right*/
#bottomleft
	{
margin: 240% 0% 0% 20%;
	}
/*top left*/
#topleft
	{
margin: 290% 0% 0% 20%;
	}
/*middle left*/
#topright
	{
margin: 240% 0% 0% 20%;
	}
	/*middle right*/
#bottomleft
	{
margin: 140% 0% 0% 20%;
	}
	/*bottom left*/
#bottommiddle
{
margin: 190% 0% 0% 20%;
	}
	/*bottom right*/
#bottomright
	{
margin: 340% 0% 0% 20%;
}
#audio {
position: absolute;
margin-left: 20%;
margin-top:25%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 30%;
margin-top:20%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 15% 0% 0% 15%;
}
}
@media screen and (max-width: 480px) {
.button {
margin: 5% 0% 0% 0%;
}
/*left image*/
#leftimage
{
margin: 50% 0% 0% 0%;
}
/*top right*/
#topmiddle
{
margin: 110% 0% 0% 0%;
}
/*middle right*/
#bottomleft
	{
margin: 185% 0% 0% 0%;
	}
/*top left*/
#topleft
	{
margin: 260% 0% 0% 0%;
	}
/*middle left*/
#topright
	{
margin: 335% 0% 0% 0%;
	}
/*middle right*/
#bottomleft
	{
margin: 410% 0% 0% 0%;
	}
/*bottom left*/
#bottommiddle
{
margin: 485% 0% 0% 0%;
	}
/*bottom right*/
#bottomright
	{
margin: 185% 0% 0% 0%;
}
#audio {
position: absolute;
margin-left: 0%;
margin-top:35%;
z-index:0;
	}
.Searchbut {
position: absolute;
margin-left: 0%;
margin-top:30%;
z-index:0;
}
#aboutimage {
position:fixed;
margin: 5% 0% 0% 0%;
}
}
